## Como acertar na Mega Sena

A maioria das pessoas que já ouviram falar sobre os prêmios da mega sena, com certeza já desejaram ganhar pelos um. Não é fácil, uma vez que deve-se apostar nos seis números sorteadoss de 01 a 60. Porém, ao termino desta pesquisa, você com certeza irá mudar a sua forma de jogar. 

Com base nas informações de todos os sorteios de 1996 a 2018, esse trabalho irá responder aos seguintes questionamentos:}
- É interessante apostar em números consecutivos?
- E apostar em números na mesma linha vertical?
- Quais dezenas mais e menos sorteados?

In [10]:
# Importando o pandas e lendo a base de dados.
import pandas as pd
dataset = pd.read_excel('basedados.xlsx')
dataset.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0